# Coronavirus disease 2019 (COVID-19) Data Analysis using Python.

In [1]:
# Import needed libraries
import pandas as pd
import chart_studio.plotly as py
import plotly.graph_objects as go

In [2]:
#data source
dfConfirmedWorldwide =  pd.read_csv(r'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
dfDeathsWorldwide = pd.read_csv(r'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
dfRecoveredWorldwide = pd.read_csv(r'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [3]:
dfConfirmedWorldwide.drop(columns=['Lat','Long'], inplace = True)
dfDeathsWorldwide.drop(columns=['Lat','Long'], inplace = True)
dfRecoveredWorldwide.drop(columns=['Lat','Long'], inplace = True)

In [4]:
dfConfirmedWorldwide = dfConfirmedWorldwide.set_index("Country/Region")
dfDeathsWorldwide = dfDeathsWorldwide.set_index("Country/Region")
dfRecoveredWorldwide = dfRecoveredWorldwide.set_index("Country/Region")

In [5]:
#Total Confirmed Cases Top 10 Country
dfConfirmedTop10Countries= dfConfirmedWorldwide.nlargest(10,[dfConfirmedWorldwide.columns[-1]])
dfConfirmedTop10Countries = dfConfirmedTop10Countries[dfConfirmedTop10Countries.columns[-30:]]

In [6]:
#Denmark's total confirmed cases
dfConfirmedDenmark = dfConfirmedWorldwide.loc['Denmark']
dfConfirmedDenmark = dfConfirmedDenmark.nlargest(1,[dfConfirmedDenmark.columns[-1]])

In [7]:
#Denmark's total deaths
dfDeathsDenmark = dfDeathsWorldwide.loc['Denmark']
dfDeathsDenmark = dfDeathsDenmark.nlargest(1,[dfDeathsDenmark.columns[-1]])

In [8]:
#Worldwide Total Confirmed Cases
fig1 = go.Indicator(
    mode = "number+delta",
    value = dfConfirmedWorldwide.sum()[-1],
    delta = {'position': "bottom", 'reference': dfConfirmedWorldwide.sum()[-2],
            'increasing':{'color':'red'},
            'decreasing':{'color':'green'}},
    title = {'text': "Total Confirmed Cases"},
    domain = {'x': [0, 0.5], 'y': [0.5,1]})


#Worldwide Total Deaths
fig2 = go.Indicator(
    mode = "number+delta",
    value = dfDeathsWorldwide.sum()[-1],
    delta = {'position': "bottom", 'reference': dfDeathsWorldwide.sum()[-2],
            'increasing':{'color':'red'},
            'decreasing':{'color':'green'}},
    title = {'text': "Total Deaths"},
    domain = {'x': [0.5, 1], 'y': [0.5,1]})


#Denmark's Total Confirmed cases
fig3 = go.Indicator(
    mode = "number+delta",
    value = dfConfirmedDenmark.sum()[-1],
    delta = {'position': "bottom", 'reference': dfConfirmedDenmark.sum()[-2],
            'increasing':{'color':'red'},
            'decreasing':{'color':'green'}},
    title = {'text': "Denmark Confirmed Cases"},
    domain = {'x': [0, 0.5], 'y': [0,0.4]})

#Denmark's Deaths
fig4 = go.Indicator(
    mode = "number+delta",
    value = dfDeathsDenmark.sum()[-1],
    delta = {'position': "bottom", 'reference': dfDeathsDenmark.sum()[-2],
            'increasing':{'color':'red'},
            'decreasing':{'color':'green'}},
    title = {'text': "Denmark Deaths"},
    domain = {'x': [0.5, 1], 'y': [0,0.4]})

data = [fig1, fig2, fig3, fig4]
layout = dict(title='Worldwide and Denmark',paper_bgcolor='lightgray')

py.iplot(dict(data=data, layout=layout)) #when working in a Jupyter Notebook to display the plot in the notebook.
#py.plot(data, filename = 'Indicator', auto_open=True) #to return the unique url and optionally open the url.

In [9]:
#Total Confirmed Cases Top 10 Countries
dfConfirmedTop10Countries

,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,...,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
US,121465,140909,161831,188172,213242,243622,275367,308650,336802,366317,...,699706,732197,758809,784326,811865,840351,869170,905358,938154,965785
Spain,73235,80110,87956,95923,104118,112065,119199,126168,131646,136675,...,190839,191726,198674,200210,204178,208389,213024,219764,223759,226629
Italy,92472,97689,101739,105792,110574,115242,119827,124632,128948,132547,...,172434,175925,178972,181228,183957,187327,189973,192994,195351,197675
France,37575,40174,44550,52128,56989,59105,64338,68605,70478,74390,...,146923,146906,151808,154188,156921,154715,157026,158636,160292,160847
Germany,57695,62095,66885,71808,77872,84794,91159,96092,100123,103374,...,141397,143342,145184,147065,148291,150648,153129,154999,156513,157770
United Kingdom,17089,19522,22141,25150,29474,33718,38168,41903,47806,51608,...,108692,114217,120067,124743,129044,133495,138078,143464,148377,152840
Turkey,7402,9217,10827,13531,15679,18135,20921,23934,27069,30217,...,78546,82329,86306,90980,95591,98674,101790,104912,107773,110130
Iran,35408,38309,41495,44605,47593,50468,53183,55743,58226,60500,...,79494,80868,82211,83505,84802,85996,87026,88194,89328,90481
Russia,1264,1534,1836,2337,2777,3548,4149,4731,5389,6343,...,32008,36793,42853,47121,52763,57999,62773,68622,74588,80949
China,67801,67801,67801,67801,67802,67802,67802,67803,67803,67803,...,68128,68128,68128,68128,68128,68128,68128,68128,68128,68128

In [10]:
#Denmark's total confirmed cases
dfDKconfirmed_deathsData= pd.concat([dfConfirmedDenmark, dfDeathsDenmark])
dfDKconfirmed_deathsData = dfDKconfirmed_deathsData[dfDKconfirmed_deathsData.columns[-30:]]

In [11]:
#Denmark - Cumulative confirmed cases and deaths
trace01 = go.Scatter(
    x = dfConfirmedDenmark.columns[-30:],
    y = dfConfirmedDenmark.iloc[0][-30:], name = 'Confirmed Cases')

trace02 = go.Scatter(
    x = dfDeathsDenmark.columns[-30:],
    y = dfDeathsDenmark.iloc[0][-30:], name = 'Deaths')

layout = dict(title='Denmark - Cumulative confirmed cases and deaths',paper_bgcolor='lightgray')
data = [trace01, trace02]

py.iplot(dict(data=data, layout=layout))

In [12]:
#Denmark - Cumulative confirmed cases and deaths
dfDKconfirmed_deathsData

,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,...,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Denmark,2201,2395,2577,2860,3107,3386,3757,4077,4369,4681,...,7073,7242,7384,7515,7695,7912,8073,8210,8445,8575
Denmark,65,72,77,90,104,123,139,161,179,187,...,336,346,355,364,370,384,394,403,418,422